/*
.brand-logo{
    margin-left: 40px;
}
*/
@media screen and (max-width: 600px) {
    .slider .slides{
        height: 300px !important;
    }
    /*
    div .slides{}
    div.slides{}
    */
}
.row .col{
    padding-top: 30px;
    padding-bottom: 30px;
}

.parallax-container{
    height: auto;
} 

.clients img,
.clients h2{
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.548));
}
/*
.card .card-image{
    height: 200px !important;
} */
